
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Dashboard</title>
</head>
    <body>
        <div layout:fragment="content" class="container mySpace">
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            <h2>This is your Admin Dashboard</h2>

            <br>
            <p>Довідник ролей користувачів <a th:href="@{/roles}">тут</a></p>
        </div>
    </body>
</html>