<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">

    <head>
        <title>Login</title>
    </head>

    <body>
    <div layout:fragment="content" class="container mySpace">
                    <legend>Будь ласка авторизуйтесь</legend>
                        <br>
                        <div class="alert alert-danger" th:if="${param.error}">
                            <h2>Invalid Email or Password</h2>
                        </div>
                        <div class="alert alert-danger" th:if="${param.logout}">
                            <h2>You have been logged out.</h2>>
                        </div>
                        <form th:action="@{/login}" method="post">
                            <div>
                                <label for="email" class="form-control-label">Email address</label>
                                <input type="text" id="email" class="form-control" name="email"/>
                            </div>
                            <div>
                                <label for="password" class="form-control-label">Password</label>
                                <input type="password" name="password" id="password" class="form-control"/>
                            </div>
                            <button class="btn btn-primary" type="submit">Sign in</button>
                        </form>

        </div>
    </body>
</html>